<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ application_name }} | RSS</title>
        <description>This is generating RSS sample.</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (feeds|first).lastUpdate|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url("homepage") }}</link>
        <language>{{ app.request.locale }}</language>
        {% for feed in feeds %}
            <item>
                <title>{{ feed.address }}</title>
                <description>Sample description of {{ feed.address }}.</description>
                <link>{{ url('app_sakila_address_show', {'id': feed.id}) }}</link>
                <guid>{{ url('app_sakila_address_show', {'id': feed.id}) }}</guid>
                <pubDate>{{ feed.lastUpdate|date(format='r', timezone='GMT') }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>